In [26]:
from bs4 import BeautifulSoup
import requests

html="<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>"

soup = BeautifulSoup(html, 'html.parser')

soup.title.parent.next_sibling.b.attrs

{'id': 'boldest'}

%%html
<table>
  <tr>
    <td id='flight' >Flight No</td>
    <td>Launch site</td> 
    <td>Payload mass</td>
   </tr>
  <tr> 
    <td>1</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a></td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td>
    <td>80 kg</td>
  </tr>
</table>

In [40]:
table="<table><tr><td id='flight'>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td><td>80 kg</td></tr></table>"
table_bs = BeautifulSoup(table)
table_bs
table_rows = table_bs.find_all('tr')
first_row = table_rows[0]
for i,row in enumerate(table_rows):
    print("RowIdx: ",i)
    for j,col in enumerate(row.find_all('td')):
        print(j," ",col)

RowIdx:  0
0   <td id="flight">Flight No</td>
1   <td>Launch site</td>
2   <td>Payload mass</td>
RowIdx:  1
0   <td>1</td>
1   <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td>
2   <td>300 kg</td>
RowIdx:  2
0   <td>2</td>
1   <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>
2   <td>94 kg</td>
RowIdx:  3
0   <td>3</td>
1   <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td>
2   <td>80 kg</td>