# Exercises

### Exercise 1
Extract the required GDP data from the given URL using Web Scraping.

In [11]:
from bs4 import BeautifulSoup as BS
import requests
import pandas as pd

URL="https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29"

#get Content

def get_url_content(URL):
    response = requests.get(URL)
    if(response.status_code == 200):
        return response.content

html_content = BS(get_url_content(URL))

In [85]:
table_gdp_str = str(html_content.find_all('table')[2])
table_df = pd.read_html(table_gdp_str)
table_df_url = pd.read_html(URL)
tbl = table_df_url[3]

C:\Users\nilan\AppData\Local\Temp\ipykernel_38748\1217161836.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  table_df = pd.read_html(table_gdp_str)

In [86]:
tbl.columns = range(tbl.shape[1])
tbl.columns
tbl = tbl.iloc[1:]
tbl

,0,1,2,3,4,5,6,7
1,United States,Americas,26854599,2023,25462700,2022,23315081,2021
2,China,Asia,19373586,[n 1]2023,17963171,[n 3]2022,17734131,[n 1]2021
3,Japan,Asia,4409738,2023,4231141,2022,4940878,2021
4,Germany,Europe,4308854,2023,4072192,2022,4259935,2021
5,India,Asia,3736882,2023,3385090,2022,3201471,2021
...,...,...,...,...,...,...,...,...
209,Anguilla,Americas,—,—,—,—,303,2021
210,Kiribati,Oceania,248,2023,223,2022,227,2021
211,Nauru,Oceania,151,2023,151,2022,155,2021
212,Montserrat,Americas,—,—,—,—,72,2021
213,Tuvalu,Oceania,65,2023,60,2022,60,2021

In [ ]:
'1,2,3,4'.split(',')
[1,2,3,4]

['1', '2', '3', '4']